*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 80px;
    /* background-color: rgb(13, 45, 82); */
    background-color: rgb(12, 12, 12);
    position: fixed;
    z-index: 1;

}
nav .logo{
    font-size: 35px;
    /* color: white; */
    color: #ffffff;
    line-height: 80px;
    padding: 0% 20px;
}

nav{
    position: fixed;
    z-index: 2;
}
nav ul{
    float: right;
    margin-right: 20px;
     
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}


nav ul li a{
    /* background-color: aquamarine; */
   
    background-color: #ba5a31;
    padding: 5px 20px;
    color: #ffffff;
}

nav ul li a:hover{
    text-decoration: none;
    /* background-color: red; */
    background-color: #e59f71;
    color: black;
    transition: all .5s ease-in-out;

}

.bars{
    font-size: 35px;
    line-height: 80px;
    float: right;
    color: white;
    margin-right: 20px;
    display: none;
}

ul::after{
    clear: both;
}
.firsBoxImg{
    margin-top: -10px;
}
.firsBoxImg img{
    width: 100%;
   
    margin-top: -10px;
    position: relative;

}
.firsBoxImg section{
    position: absolute;
    left: 28%;
    top: 15%;
    /* background-color: red; */
    color:  #ffffff;
    text-align: center;
    z-index: 1;
}

section button{
    padding: 5PX 10PX;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.637);

}

section button:hover{
    background-color: red;
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 20px rgb(0, 148, 158);

}
.Serivce{
    margin-top: 1%;
}
.Serivce h1{
    text-align: center;
    padding: 30px 0px;
    /* margin-top: 20px; */
    color:  orangered;
}

.secondBox{
    margin: 50px 0px;
}
.secondBox img{
    width: 100%;
    filter: grayscale(); 
    border-radius: 5px;
}

.secondBox img:hover{
    filter: grayscale(0); 
    transition: all .5s ease-in-out;
}




.trainerImg img{
    width: 100%;
    border-radius: 8px;
}
.trainerText {
    margin-top: 20%;
    color: white;
    
}

.tranerHeadLine{
    text-align: center;
    margin: 100px 0px;
    color:orangered;
}



               /* support */

.hestiaGym{
    text-align: center;
    padding: 100px 10px;
}
.hestiaGym h1, p {
    color: orangered;
}

.starGym{
    text-align: center;
    padding: 20px;

}
.starGym i{
    font-size: 80px;
    color: white;
}

 .starGymUser:hover > i{
    color: #ba5a31;
    border-radius: 100%;
     box-shadow: 0px 0px 100px #e59f71 ; 
    cursor: pointer;

} 


/* 
 .fa-user:hover{
    color: red;
    transition: all .5s ease-in-out;
}

.fa-thumbs-up:hover{
    color: red;
    transition: all .5s ease-in-out;
}

 .fa-star:hover{
    color: red;
    transition: all .5s ease-in-out;
} */
.starGym p{
    font-size: 30px;
    margin: 20px 0px;
}
.starGym span{
    font-size: 20px;
}
span{
    color: white;
}




           /* map and form */
      
::placeholder{
    text-align: center;
    font-size: 20px;
    margin: 20px 0px ;
    padding: 100px 0px;    
} 


input{
    padding: 10px 0px;
    border-radius: 5px;
    border: transparent;
}     


        /* footer  icon*/

.FooterIcon i{
    font-size: 30px;
    line-height: 50px ;
    margin-left: 100px;
    color: #e59f71;
    text-align: center;
    cursor: pointer;
    
    
}
.FooterIconMoble {
    display: none;
}
.FooterIcon i:hover{
    color: #ba5a31;
    border-radius: none;
    box-shadow: none;
   

}